blockquote {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  font-style: italic;
}

p img {
  width: 100%;
  height: auto;
}

.site-title {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5em 0 1em;
}

.site-icon {
  max-width: 70%;
}